# autogen-template.config
#
#  Created on: May 7, 2013
#      Author: Ricardo Tubío (rtpardavila[at]gmail.com)
#
# This file is part of the autogen.sh script.
# autogen.sh script is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# autogen.sh is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with autogen.sh.  If not, see <http://www.gnu.org/licenses/>.
#

### TEMPLATE USAGE ###
# This template contains a set of variables for the bash script that transforms
# a directory with a given structure into an Automake GNU project. This template
# has to be adapted to the definitions of a certain project and left in that
# directory. "autogen.sh" script will look for a "autogen.config" file in the
# directory where the script is executed and read this variables from it.
######################

NAME='linklayertool'
VERSION='0.1'
MAIL='rtpardavila@gmail.com'
SUBDIRS='src scripts'
BINARY='linklayertool'
ALL_HEADERS=$( find src/* | grep -v '~' | grep '\.h' | sed -e 's/src\///g')
ALL_SRC=$( find src/* | grep -v '~' | grep '\.c' | sed -e 's/src\///g')
BINARY_SRC=$( echo $ALL_SRC )
SCRIPTS=''
CFLAGS='--pedantic -std=gnu99 -Wall -O2'
LDFLAGS='-lev'
